* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.colorCards {
  margin: 2em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color {
  margin: 0 1em;
}

.color-section {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-information {
  height: 100px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
}

.control-container {
  display: flex;
}

.num-colors {
  max-width: 50%;
}
.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5em;
}
.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5em;
}

.select-scheme {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5em;
}
