.button {
  margin: 0 0.5em;
}
.control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
  background-color: #eee;
  border: 1px solid transparent;
}
.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}
.detailsWrapper {
  width: 100%;
  line-height: 40px;
  padding: 0 20px;
  background-color: rgba(238, 238, 238, 0.35);
  overflow: scroll;
}
.details {
  position: relative;
  text-align: center;
  left: -10px;
  white-space: nowrap;
  font-size: 14px;
  margin: 0 auto;
}

.details > div {
  display: inline-block;
  text-align: center;
  margin: 0 10px;
}

.details .label {
  display: inline-block;
  text-align: right;
  font-weight: 500;
  margin: 0 4px;
}

.center {
  width: 100%;
  max-width: 830px;
  margin: 0 auto;
}

.title {
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  margin: 12px 15px;
}

.currently {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  display: inline-block;
  margin: 0 10px;
}

.description {
  font-weight: 600;
  text-align: left;
  position: relative;
  top: 7px;
  line-height: 1.3em;
  margin-bottom: 15px;
}

.description .summary {
  display: inline-block;
}

.summary-high-low {
  display: flex;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
}
